{% extends 'core/base.html' %}

{% block title %} {{ customer.first_name }} {{ customer.last_name }} {% endblock %}

{% block content %}

    <h1 class="py-6 px-8 text-center text-2xl">Customer Details</h1>

    <div class="my-3 space-y-3">
        <p class="text-white text-center text-2xl bg-neutral-700 p-3">{{ customer.first_name }} {{ customer.last_name }}</p>
        <p><strong>Address: </strong>{{ customer.address }}</p>
        <p><strong>City: </strong>{{ customer.city }}</p>
        <p><strong>Country: </strong>{{ customer.country }}</p>
        <p><strong>Customer of: </strong>{{ request.user.company }}</p>
        <p><strong>Record Date: </strong>{{ customer.date_created }}</p>
    </div>

    <div class="my-5">
        <a href="{% url 'customers:edit' customer.id %}" class="px-5 py-3 text-white bg-lime-500">Edit</a>
        <a href="{% url 'customers:delete' customer.id %}" onclick="return confirm('Are you sure you want to delete customer?')" class="px-5 py-3 text-white bg-red-500">Delete</a>
    </div>

{% endblock %}